<footer class="footer text-center bg-dark">
    <p>Copyright © 2021 Khaldoon Alhusari.<br class="br"> All Rights Reserved.</p>
</footer>

<style>
    html {
        height: 100%;
        box-sizing: border-box;
    }

    body {
        min-height: 100%;
        margin: 0;
        position: relative;
        padding-bottom: 6rem;
    }

    .footer {
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .footer p {
        padding: 10px 0;
        margin: 0;
    }

    .br {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        .br {
            display: block;
        }
    }
</style>