<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Animal Shelter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-3">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals">Animals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <% if (typeof signedIn !="undefined" && signedIn) { %>
                        <a class="nav-link" href="/profile/<%= user._id %>">Profile</a>
                        <% } else { %>
                            <a class="nav-link" href="/login">Sign In</a>
                            <% } %>
                </li>
                <li class="nav-item">
                    <% if (typeof signedIn !="undefined" && signedIn) { %>
                        <a class="nav-link" href="/logout">Sign Out</a>
                        <% } else { %>
                            <a class="nav-link" href="/register">Register</a>
                            <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    body {
        background: #FAFAFA;
    }

    .animal-card img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: inline-block;
    }

    .nav-link {
        font-size: 20px;
    }

    .navbar-brand {
        font-size: 23px
    }

    @media only screen and (max-width: 600px) {
        .navbar {
            position: fixed;
            z-index: 5;
            width: 100%;
        }

        .container {
            max-width: 95vw;
        }
    }
</style>